


body{
    color: rgb(247, 232, 206);
    background-color:hsla(198,31%,52%,1);
    background-image:
        radial-gradient(at 3% 23%, hsla(79,17%,2%,1) 0px, transparent 50%),
        radial-gradient(at 95% 57%, hsla(87,17%,2%,1) 0px, transparent 50%),
        radial-gradient(at 91% 10%, hsla(134,17%,2%,1) 0px, transparent 50%),
        radial-gradient(at 23% 52%, hsla(217,17%,2%,1) 0px, transparent 50%),
        radial-gradient(at 70% 94%, hsla(87,17%,2%,1) 30px, transparent 70%),
        radial-gradient(at 21% 93%, hsla(254,17%,2%,1) 0px, transparent 50%),
        radial-gradient(at 48% 9%, hsla(121,17%,2%,1) 0px, transparent 50%);
    width: 100%;
    height: 100vh;
    text-align: center;
    font-size: 2vw;
    margin: 0 auto;
    overflow: hidden;
}

@media screen and (max-width: 480px) {
    body {
        background-color: #333;
    }
}

.v-center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1, p{
    margin: auto;
    width: auto;
    height: auto;
}

div{
    margin: auto;
    width: 100px;
    height: 100px;
}

.grow{
    transition-duration: 1000ms;
    transition-delay: 0.2s;
}

.grow:hover{
    color: hsla(242,100%,70%,1);
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    opacity: 0;
    font-size: 15vw;
}

a{
    text-decoration: none;
    color: unset;
}

.hello{
    opacity: 90%;
}

.main-flex{
    display: flex;
    margin: 2vh 5vw 18vh 5vw;
    width: 90vw;
    height: 80vh;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    column-gap: 5vw;
}

.flex-text{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    flex-grow: 3;
    row-gap: 1vmin;
}

.flex-img{
    display: flex;
    width: auto;
    height: 50vmin;
    flex-grow: 1;
    max-width: 100%;
    transition-duration: 500ms;
}

.flex-img:hover{
    transform: scale(1.1);
    transform: rotate(2deg);
    transition-timing-function: cubic-bezier(0.23, 1, 0.320, 1);
    filter:invert(100%);
}

.main-h1{
    font-size: 6vmin;
    margin: 2vmin auto;
}

.main-p{
    font-size: 2vmin;
    width: 50%;
}

.bio-list{
    color: rgb(134, 132, 114);
}

ul{
    display: inline;
    align-items: left;
    list-style-type: none;
    font-size: 1.5vmin;
}

.pages{
    display: flex;
    flex-direction: column;
    margin: -28vh 5vw 15vh 5vw;
    width: 90vw;
    height: 2vh;
    justify-content:space-around;
    align-items:center;
    font-size: 2vmin;
    column-gap: 1vw;
    row-gap: 2vmin;
    flex-wrap: nowrap;
}

.pages-a{
    border: 2px solid rgb(27, 27, 27);
    border-top: 0;
    border-bottom: 0;
    /* border-right: 0;
    border-left: 0; */
    padding: 2vmin 8vmin 2vmin 8vmin;
}


.pages-a:hover{
    background-image: linear-gradient(180deg, rgb(24, 9, 18), transparent);
    /*background-image: linear-gradient(180deg, rgb(87, 32, 66), transparent);*/
}

#emb-player{
    display: flex;
    width: 100%;
    height: 100vh;
}

footer{
    display: block;
    opacity: 20%;
    margin-bottom: 200px;
    position: fixed;
    bottom: -11rem;
    width: 100%;
    text-align: center;
    font-size: 1.5vmin;
}

